@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree/static/Figtree-Regular.ttf");
}

@font-face {
  font-family: "RubikDoodleShadow";
  src: url("./assets/fonts/RubikDoodleShadow/RubikDoodleShadow-Regular.ttf");
}

:root {
  --main-font-family: "Figtree";
  --secondary-font-family: "RubikDoodleShadow"; 
  --bg-color: white;
  --primary-color: black;
  --secondary-color: rgb(201, 201, 201);
  --accent-color: #D10000; 
}

.first-letter {
  /* font-family: var(--secondary-font-family); */
  color: var(--accent-color);
}

html, body {
  height: 100%;
}

.accent-clr, h1, h2 {
  color: var(--accent-color);
}

*, body {
  font-family: var(--main-font-family);
  background-color: var(--bg-color);
}
